<%#
AdGuardHome Dashboard View
-%>
<%
luci.http.prepare_content("text/html")
%>
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%=luci.i18n.lang()%>">
<head>
    <meta charset="utf-8" />
    <title><%=pcdata(_("AdGuard Home"))%></title>
    <link rel="stylesheet" href="<%=resource%>/cascade.css" />
    <script src="<%=resource%>/lib/luci.js"></script>
</head>
<body class="cbi">
    <div id="maincontainer">
        <div id="maincontent">
            <div id="tabmenu">
                <ul>
                    <li class="active"><a href="<%=url("admin/services/adguardhome")%>"><%=_("AdGuard Home")%></a></li>
                </ul>
            </div>
            <div id="content">
                <%- include("header") -%>
                <div id="cbi-page"></div>
            </div>
        </div>
    </div>
    <script>
        require('view/adguardhome/dashboard');
    </script>
</body>
</html>